@import '../../css/sizes';

.header {
  display: flex;
  align-items: center;

  &__logo {width: 80px}

  &__user-menu {
    margin-left: auto;
  }

  @media screen and (max-width: @ipad-adaptive-width) {
    &__title {font-size: 1rem}
    &__logo {width: 40px}
  }
}