.header {
  display: flex;
  align-items: center;
}

.button {
  width: fit-content;
}

.header .button {
  margin-left: auto;
}

.title {
  font-size: 1.5rem;
  padding: 16px;
}

.container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
  grid-template-areas: 'A B B';

  padding: 16px 0;

  text-align: left;
}

.photo {
  grid-area: A;
  display: block;
  width: 100%;

  border-radius: 50%;
  cursor: pointer;
}

.description {
  grid-area: B;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.full_name {
  display: flex;
  gap: 2%;
}

.input {
  display: block;
  min-width: 80px;
  max-width: 200px;
  padding: 4px;
}

.full_name .input {
  width: 32%;
}

.label {
  display: flex;
  gap: 16px;
}