@import "colors";
@import "sizes";

.table {
  min-width: 80%;
  border-radius: 2px;

  &_blue { .table-mixin(@blue) }
  &_green { .table-mixin(@green) }
  &_red { .table-mixin(@red) }
  &_yellow { .table-mixin(@yellow) }

  &_size-50 { min-width: 50% }

  &, tr, th, td {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th { font-weight: 600 }

  &__cell {
    padding: 8px;

    &_left {
      padding-left: 16px;
      text-align: left;
    }
  }
}

.table-mixin(@color) {
  &, tr, th, td { border: solid 1px @color }
  tbody tr {
    &:nth-child(2n + 1) { background-color: lighten(@color, 40%) }
  }
}