@import "colors";
@import "sizes";

.table {
  min-width: 80%;

  &_blue {.table-mixin(@blue)}
  &_green {.table-mixin(@green)}
  &_red {.table-mixin(@red)}
  &_yellow {.table-mixin(@yellow)}

  &_size-50 {min-width: 50%}

  th {font-weight: 600}

  &, tr, th, td {
    border: solid 1px @grey;
    border-collapse: collapse;
    border-spacing: 0;
  }

  tbody tr {
    &:nth-child(2n + 1) {background-color: lighten(@grey, 12%)}
  }

  &__cell {
    padding: 8px 16px;

    &_left {
      padding-left: 16px;
      text-align: left;
    }
    &_green {
      background-color: @green;
      color: white;
    }
    &_red {
      background-color: @red;
      color: white;
    }
  }

  &__caption {
    padding: 16px;
    font-weight: 600;
  }
}

.table-mixin(@color) {
  &, tr, th, td {border: solid 1px @color}
  tbody tr {
    &:nth-child(2n + 1) {background-color: lighten(@color, 40%)}
  }
}