@import "../../../css/constants.css";

.wrapper {
  position: relative;
}

.content:focus-within + div,
.content:hover + div {
  visibility: visible;
  opacity: 1;
}

.content {
  display: block;
  text-align: left;
  line-height: 3;
  font-size: 1rem;
}

.input {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: inherit;
}

.input_default:focus-visible {
  outline: solid 1px var(--fgbui-blue);
  border: solid 1px var(--fgbui-blue);
  border-radius: 0.125rem;
}

.input_error {
  border: solid 1px var(--fgbui-red);
}

.input_error:focus {
  background-color: var(--fgbui-light-red);
}

.input_error:focus-visible {
  outline: none;
}

.input_valid {
  border: solid 1px var(--fgbui-green);
}

.input_valid:focus {
  background-color: var(--fgbui-light-green);
}

.input_valid:focus-visible {
  outline: none;
}