.wrapper {
  position: relative;
}

.ul {
  display: flex;
  flex-direction: column;
  z-index: 1;

  position: absolute;
  right: 0;
  top: 70px;

  list-style: none;
  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px var(--fgbui-grey);
}